<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Novo Desenho
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

        <ion-item>
            <ion-label position="floating">Nome do Tecido</ion-label>
            <ion-input [(ngModel)]="newDesenho.nomeTecido"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Desenho</ion-label>
            <ion-input [(ngModel)]="newDesenho.desenho"></ion-input>
        </ion-item>

        <ion-radio-group [(ngModel)]="newDesenho.tipoBatida">
            <ion-grid>
                <ion-row>
                    <ion-list-header>
                        Tipo de Batida
                    </ion-list-header>

                    <ion-col size="6">
                        <ion-item>
                            <ion-label>Única</ion-label>
                            <ion-radio value="unica"></ion-radio>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label>Por Zona</ion-label>
                            <ion-radio value="zona"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-radio-group>

        <ion-item id="batUnica" *ngIf="newDesenho.tipoBatida === 'unica'">
            <ion-label position="floating">Batida Única</ion-label>
            <ion-input [(ngModel)]="newDesenho.batidaUnica"></ion-input>
        </ion-item>

        <div *ngIf="newDesenho.tipoBatida === 'zona'">
            <ion-item >
                <ion-label position="floating">Batida Zona 1</ion-label>
                <ion-input [(ngModel)]="newDesenho.batidaZ1"></ion-input>
            </ion-item>

            <ion-item >
                <ion-label position="floating">Batida Zona 2</ion-label>
                <ion-input [(ngModel)]="newDesenho.batidaZ2"></ion-input>
            </ion-item>

            <ion-item >
                <ion-label position="floating">Batida Zona 3</ion-label>
                <ion-input [(ngModel)]="newDesenho.batidaZ3"></ion-input>
            </ion-item>
        </div>

        <ion-radio-group [(ngModel)]="newDesenho.tipoPre">
            <ion-grid>
                <ion-row>
                    <ion-list-header>
                        Pré
                    </ion-list-header>

                    <ion-col size="6">
                        <ion-item>
                            <ion-label>Cor Única</ion-label>
                            <ion-radio value="unica"></ion-radio>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label>Cor Multiplas</ion-label>
                            <ion-radio value="multiplas"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-radio-group>

        <ion-item id="batUnica" *ngIf="newDesenho.tipoPre === 'unica'">
            <ion-label position="floating">Cor Única</ion-label>
            <ion-input [(ngModel)]="newDesenho.preCorUnica"></ion-input>
        </ion-item>

        <div *ngIf="newDesenho.tipoPre === 'multiplas'">
            <ion-item >
                <ion-label position="floating">Cor 1</ion-label>
                <ion-input [(ngModel)]="newDesenho.preCorMult1"></ion-input>
            </ion-item>

            <ion-item >
                <ion-label position="floating">Cor 2</ion-label>
                <ion-input [(ngModel)]="newDesenho.preCorMult2"></ion-input>
            </ion-item>

            <ion-item >
                <ion-label position="floating">Cor 3</ion-label>
                <ion-input [(ngModel)]="newDesenho.preCorMult3"></ion-input>
            </ion-item>
            <ion-item >
                <ion-label position="floating">Cor 4</ion-label>
                <ion-input [(ngModel)]="newDesenho.preCorMult4"></ion-input>
            </ion-item>
        </div>

        <ion-item>
            <ion-label position="floating">Do</ion-label>
            <ion-input [(ngModel)]="newDesenho.doD"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Tear</ion-label>
            <ion-select placeholder="Escolha"[(ngModel)]="newDesenho.tear">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
                <ion-select-option value="7">7</ion-select-option>
                <ion-select-option value="8">8</ion-select-option>
                <ion-select-option value="9">9</ion-select-option>
                <ion-select-option value="10">10</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select placeholder="Escolha" [(ngModel)]="newDesenho.categoria">
                <ion-select-option value="manta200">Manta 2.00 mts</ion-select-option>
                <ion-select-option value="manta140">Manta 1.40 mts</ion-select-option>
                <ion-select-option value="cortinas">Cortinas</ion-select-option>
                <ion-select-option value="tapetes">Tapetes</ion-select-option>
                <ion-select-option value="passadeiras">Passadeiras</ion-select-option>
                <ion-select-option value="almofadas">Almofadas</ion-select-option>
            </ion-select>
        </ion-item>
        
        <ion-grid>
                <ion-row>
                    <ion-col size="6">
                            <ion-button color="success" expand="block" (click)="save()">Salvar</ion-button>
                    </ion-col>
                    <ion-col size="6">
                                <ion-button color="danger" expand="block" (click)="cancelar()">Cancelar</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
    </ion-list>
</ion-content>