<ion-header>
    <ion-toolbar id="toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Novo Desenho
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- <ng-container *ngIf="newDesenho.nomeTecido != null || newDesenho.nomeTecido = ''; then carregado; else carregando"></ng-container> -->

<!-- <ng-template #carregado> -->
<ion-content>
    <ion-list>
        <ion-item>
            <img src="{{ photo }}" width="100%" height="200px" />
        </ion-item>

        <ion-button color="red" expand="block" (click)="takePicture()">
                <ion-icon name="md-camera" class="icon"></ion-icon>
                Inserir Foto
            <ion-ripple-effect></ion-ripple-effect>
        </ion-button>

        <ion-item>
            <ion-label position="floating" class="color">Nome do Tecido</ion-label>
            <ion-input [(ngModel)]="newDesenho.nomeTecido"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" class="color">Desenho</ion-label>
            <ion-input [(ngModel)]="newDesenho.desenho"></ion-input>
        </ion-item>
        <ion-radio-group [(ngModel)]="newDesenho.tipoBatida">
            <ion-grid>
                <ion-row>
                    <ion-list-header class="color">
                        Tipo de Batida
                    </ion-list-header>

                    <ion-col size="6">
                        <ion-item class="color">
                            <ion-label class="color">Única</ion-label>
                            <ion-radio value="unica"></ion-radio>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label class="color">Por Zona</ion-label>
                            <ion-radio value="zona"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-radio-group>

        <ion-item id="batUnica" *ngIf="newDesenho.tipoBatida === 'unica'">
            <ion-label position="floating" class="color">Batida Única</ion-label>
            <ion-input [(ngModel)]="newDesenho.batidaUnica"></ion-input>
        </ion-item>

        <div *ngIf="newDesenho.tipoBatida === 'zona'">
            <ion-item>
                <ion-label position="floating" class="color">Batida Zona 1</ion-label>
                <ion-input [(ngModel)]="newDesenho.batidaZ1"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" class="color">Batida Zona 2</ion-label>
                <ion-input [(ngModel)]="newDesenho.batidaZ2"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" class="color">Batida Zona 3</ion-label>
                <ion-input [(ngModel)]="newDesenho.batidaZ3"></ion-input>
            </ion-item>
        </div>

        <ion-radio-group [(ngModel)]="newDesenho.tipoPre">
            <ion-grid>
                <ion-row>
                    <ion-list-header class="color">
                        Pré
                    </ion-list-header>

                    <ion-col size="6">
                        <ion-item>
                            <ion-label class="color">Cor Única</ion-label>
                            <ion-radio value="unica"></ion-radio>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label class="color">Cor Multiplas</ion-label>
                            <ion-radio value="multiplas"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-radio-group>

        <ion-item id="batUnica" *ngIf="newDesenho.tipoPre === 'unica'">
            <ion-label position="floating" class="color">Cor Única</ion-label>
            <ion-input [(ngModel)]="newDesenho.preCorUnica"></ion-input>
        </ion-item>

        <div *ngIf="newDesenho.tipoPre === 'multiplas'">
            <ion-item>
                <ion-label position="floating" class="color">Cor 1</ion-label>
                <ion-input [(ngModel)]="newDesenho.preCorMult1"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" class="color">Cor 2</ion-label>
                <ion-input [(ngModel)]="newDesenho.preCorMult2"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" class="color">Cor 3</ion-label>
                <ion-input [(ngModel)]="newDesenho.preCorMult3"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" class="color">Cor 4</ion-label>
                <ion-input [(ngModel)]="newDesenho.preCorMult4"></ion-input>
            </ion-item>
        </div>

        <ion-item>
            <ion-label position="floating" class="color">Do</ion-label>
            <ion-input [(ngModel)]="newDesenho.doD"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label class="color">Tear</ion-label>
            <ion-select placeholder="Escolha" [(ngModel)]="newDesenho.tear" class="color">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
                <ion-select-option value="7">7</ion-select-option>
                <ion-select-option value="8">8</ion-select-option>
                <ion-select-option value="9">9</ion-select-option>
                <ion-select-option value="10">10</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label class="color">Categoria</ion-label>
            <ion-select placeholder="Escolha" [(ngModel)]="newDesenho.categoria" class="color">
                <ion-select-option value="manta180">Manta 1.80 mts</ion-select-option>
                <ion-select-option value="manta140">Manta 1.40 mts</ion-select-option>
                <ion-select-option value="manta120">Manta 1.20 mts</ion-select-option>
                <ion-select-option value="cortinas">Cortinas</ion-select-option>
                <ion-select-option value="tapetes">Tapetes</ion-select-option>
                <ion-select-option value="passadeiras">Passadeiras</ion-select-option>
                <ion-select-option value="almofadas">Almofadas</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-button color="success" expand="block" (click)="save()">Salvar</ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button color="danger" expand="block" (click)="cancelar()">Cancelar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-content>
<!-- </ng-template>

<ng-template #carregando>
    <ion-content>
      <div class="center">
        <ion-spinner name="crescent" color="red" class="spinner"></ion-spinner>
      </div>
    </ion-content>
  </ng-template> -->