.content{
    // height: 100%;
    // display: flex;
    // align-items: center !important;
    // justify-content: center;
}

.grid{
    // height: 100%;
}

.imgLogo{
    display: flex;
    justify-content: center;
}

.color{
    color:  #e5ccb8 !important;;
  }