@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');

// .content{
//     // height: 100%;
//     // display: flex;
//     // align-items: center !important;
//     // justify-content: center;
// }

// .grid{
//     // height: 100%;
// }

.imgLogo{
    display: flex;
    justify-content: center;
}

.textLogo{
    font-family: 'Baskervville', serif;
    color: #e5ccb8;
    margin-top: -15px;
    margin-bottom: 40px;
    font-size: 45px !important;
    font-weight: bold;
}

.color{
    color:  #fffef9 !important;;
}

.colorItem{
    --ion-background-color: none !important;
}

.login{
    // background-image: linear-gradient(to bottom, white, purple) !important;
    --ion-background-color: linear-gradient(to bottom, #4f0000, #9b0000) !important;
    // --ion-background-color: #9b0000 !important;
    --ion-text-color: #fffef9 !important;
}

.hidePass{
    // position: absolute;
    // right: 20px;
    background: none;
    font-size: 20px;
    border: none;
    color: #fffef9;
    opacity: 0.6;
}

.icon{
    font-size: 25px;
    opacity: 0.6;
}