<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="login">
  <ion-grid class="grid ">
        <ion-row>
              <ion-col size="12" class="imgLogo">
                  <img src="https://firebasestorage.googleapis.com/v0/b/fabric-design-145ac.appspot.com/o/Photo%20System%2Ficon_fabric.png?alt=media&token=26ed127a-23d0-409f-891f-6c1c5ff50697" width="250px" height="250px">
                </ion-col>
                <ion-col size="12" class="ion-text-center">
                  <h1 class="textLogo">Fabric Design</h1>
                </ion-col>
            </ion-row>
        <ion-row>
          <ion-col size="12">
          <ion-item class="colorItem">
              <ion-label position="stacked" class="color">E-mail</ion-label>
              <ion-input placeholder="email@email.com" type="email" [(ngModel)]="user.email"></ion-input>
            </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item class="colorItem">
              <ion-label position="stacked" class="color">Senha</ion-label>
              <ion-input placeholder="password" type="password" [(ngModel)]="user.password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" color="success" expand="block" (click)="sigIn()">
              Entrar
              <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>