.content{
    // height: 100%;
    // display: flex;
    // align-items: center !important;
    // justify-content: center;
}

.grid{
    // height: 100%;
}

.imgLogo{
    display: flex;
    justify-content: center;
}

.color{
    color:  #fffef9 !important;;
}

.login{
    --ion-background-color: #9b0000 !important;
    --ion-text-color: #fffef9 !important;
}