<ion-header>
  <ion-toolbar id="toolbar" class="colorToolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Desenhos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar color="light" showCancelButton="focus" cancelButtonText="Custom Cancel"
        (ioninput)="filterList($event)"></ion-searchbar>
</ion-toolbar>

  <div *ngIf="(desenhos.length) > 0">
    <ion-list *ngFor="let desenho of desenhos">
      <ion-item [href]="'/desenhodetalhe/' + desenho.id" routerDirection="forward" class="color">
        <ion-label>{{desenho.nomeTecido}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="newDesenho()">
      <ion-icon name="md-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>