<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pagina Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" fill="outline">Mantas 2.00 mts
    <ion-ripple-effect></ion-ripple-effect>
  </ion-button>
  <ion-button expand="block" fill="outline">Mantas 1.40 mts
    <ion-ripple-effect></ion-ripple-effect>
  </ion-button>
  <ion-button expand="block" fill="outline">Cortinas
    <ion-ripple-effect></ion-ripple-effect>
  </ion-button>
  <ion-button expand="block" fill="outline">Tapetes
    <ion-ripple-effect></ion-ripple-effect>
  </ion-button>
  <ion-button expand="block" fill="outline">Passadeiras
    <ion-ripple-effect></ion-ripple-effect>
  </ion-button>
  <ion-button expand="block" fill="outline" (click)="search('almofadas')">Almofadas
    <ion-ripple-effect></ion-ripple-effect>
  </ion-button>
  <ion-button expand="block" fill="outline" routerLink="/list">Ver Todos
    <ion-ripple-effect></ion-ripple-effect>
  </ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="">
    <ion-fab-button color="success" (click)="newDesenho()">
      <ion-icon name="md-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>