.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.color{
  color:  #9b0000 !important;;
}

// .colorToolbar{
//   color:  #fffef9 !important;
// }

#toolbar{
  --ion-background-color: #9b0000 !important;
  --ion-text-color: #fffef9 !important;
}

ion-button {
  --color: #fffef9;
}

.colorButton {
  --background:  #9b0000 !important;
}

