<ion-header>
    <ion-toolbar id="toolbar" class="colorToolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pagina Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="color">
  <ion-grid>
    <ion-row>
      <ion-col size='12'>
        <ion-button color="red" expand="block" size="large" (click)="search('manta200')">Mantas 2.00 mts
          <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='12'>
        <ion-button color="red" expand="block" size="large" (click)="search('manta140')">Mantas 1.40 mts
          <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='12'>
        <ion-button color="red" expand="block" size="large" (click)="search('cortinas')">Cortinas
          <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='12'>
        <ion-button color="red" expand="block" size="large" (click)="search('tapetes')">Tapetes
          <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='12'>
        <ion-button color="red" expand="block" size="large" (click)="search('passadeiras')">Passadeiras
          <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='12'>
        <ion-button color="red" expand="block" size="large" (click)="search('almofadas')">Almofadas
          <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='12'>
        <ion-button color="red" expand="block" size="large" routerLink="/list">Ver Todos
          <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="newDesenho()">
      <ion-icon name="md-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>