<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header class="menu">
        <ion-toolbar class="background">
          <ion-title class="color">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="menu">
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/fabric-design-145ac.appspot.com/o/Photo%20Users%2Fdefault-perfil.jpg?alt=media&token=7e71e16c-60c2-49ee-bb62-beb95337a0ff">
            </ion-avatar>
            <ion-label>{{ user }}</ion-label>
            <span class="logOut" routerDirection="'root'" routerLink="/login"><ion-icon name="log-out" id="iconLogOut"></ion-icon>Sair</span>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" class="color"></ion-icon>
              <ion-label class="color ">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer class="menu">
        <ion-toolbar>
          <ion-title class="color">Fabric Design Version 1.4</ion-title>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>