.color{
    color: #fffef9 !important;
}

.menu{
    --ion-background-color: #9b0000 !important;
}

.itemBorder{
    border-bottom: 1px solid #fffef9;
}

.logOut{
    color: #fffef9;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#iconLogOut{
    font-size: 25px;
    margin-right: 5px;
}